---
import PostCard from './PostCard.astro';

interface Props {
  posts: Array<{
    slug: string;
    data: {
      title: string;
      excerpt: string;
      date: string;
      tags: string[];
      featured?: boolean;
    };
    body: string;
  }>;
}

const { posts } = Astro.props;
---

<div class="space-y-6">
  {posts.map((post) => (
    <PostCard
      title={post.data.title}
      excerpt={post.data.excerpt}
      date={post.data.date}
      tags={post.data.tags}
      slug={post.slug}
      featured={post.data.featured}
      content={post.body}
    />
  ))}
</div>

