---
import PostCard from './PostCard.astro';

interface Props {
  posts: Array<{
    slug: string;
    data: {
      title: string;
      excerpt: string;
      date: string;
      tags: string[];
      featured?: boolean;
      series?: string;
      seriesPart?: number;
    };
    body: string;
  }>;
}

const { posts } = Astro.props;
---

<div id="post-list-container" class="space-y-6">
  {
    posts.map((post) => (
      <div
        data-post-card
        data-title={post.data.title}
        data-excerpt={post.data.excerpt}
        data-tags={JSON.stringify(post.data.tags)}
        data-date={post.data.date}
        data-featured={post.data.featured || false}
      >
        <PostCard
          title={post.data.title}
          excerpt={post.data.excerpt}
          date={post.data.date}
          tags={post.data.tags}
          slug={post.slug}
          featured={post.data.featured}
          content={post.body}
          series={post.data.series}
          seriesPart={post.data.seriesPart}
        />
      </div>
    ))
  }
</div>
